/* layout */
.main-sidebar, .main-sidebar::before { width: 17rem;}
.sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar::before { margin-left: -17rem; }
.sidebar {margin-left: 3.7rem; padding: 0; padding-left: .1rem;}
.sidebar::-webkit-scrollbar{ display:none;}
.brand-link { margin-left: 3.7rem;}
.layout-fixed .brand-link { width: 13.2rem;}
.main-footer {padding: .5rem 1rem; height: 2.5rem}
aside a.brand-link img {width: 1.7em; height:1.7em;}
#aside-contexts {width:3.7rem; position:absolute;min-height:100vh; padding: 1.5rem .3rem; }
#aside-contexts > div { margin: .5rem .2rem;}
#aside-contexts button.active { border-color: #fd7e14; background-color: rgb(255, 193, 7)}
#aside-contexts p { font-size:x-small; margin: 0;}
body:not(.layout-top-nav) .content-wrapper {margin-left:0}
.wrapper .content-wrapper { min-height: calc(100vh - calc(3.5rem + 1px) - calc(2.5rem + 1px));}
.content-header { padding: .5rem .5rem .2rem .5rem;}
label:not(.form-check-label):not(.custom-file-label) {font-weight: 400;}
.brand-link .brand-image {margin-left: .5rem}

@media (max-width: 992px) {
	body:not(.sidebar-open) .main-sidebar, .main-sidebar::before { margin-left: -17rem;}
}
@media (min-width: 1024px) {
	body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
		margin-left: 17rem;
	}
	.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
		margin-left: 7.4rem !important;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {
		width: 7.4rem;
	}
}

/* custom  */
.lh-vh-50 {line-height: 50vh;} .lh-vh-100 {line-height: 100vh;}
.h-chart { height: 14em;}
.cursor {cursor:pointer}
.label {
	display: inline-grid;
	border:1px #73b5fc solid;
	background-color: #eff6fd;
	padding: 1px 4px;
	line-height: 1.3rem;
	border-radius: .25em!important;
	margin: .1em .2em .1em 0em;
	color: #0363ca;
}
.border-box {
	display: inline-grid;
    border: 1px #6c757d dotted;
	line-height: 1.3rem;
    padding: 0 .4em;
    border-radius: .25em!important;
    margin: .1em .2em .1em 0em;
    color: #6c757d;
}
.border-box.background {
	background-color: #f3f4f5;
}

/* table of viewpage*/
table.b-table.subset th {font-weight:400; padding: .3rem}
table.b-table.subset td {font-weight:350; padding: .3rem}



/* custom > view */
section.content-view {font-size: .95rem;}
section.content-view .card-primary > .card-header {font-size: 1.1rem; line-height: 1.1rem;}
section.content-view a.nav-link.active {border-bottom: 3px solid #007bff; color: #007bff; margin: 0 .3em}
section.content-view a.nav-link {padding: .3em .3em; color:#aaa}
section.content-view dt {line-height: 1.8rem;background-color:#f3f4f5; font-weight: 500;}
section.content-view dd {line-height: 1.8rem; margin: 0}
section.content-view .card-header {background-color:#f3f4f5;}
section.content-view .card-title {font-size:1rem;}
section.content-view .card-body.group {padding: 0 .5em .5em .5em}
section.content-view .card-body.group > ul { padding: 0; margin:0; list-style: none; }
section.content-view .card-body.group > ul > li { margin-top: .5em }
section.content-view .card-body.group > ul > li .title { margin: .3rem .3rem; font-weight:400; font-size:1rem }
section.content-view .card-body.group > ul > li > dl { border: 1px solid #dee2e6!important; margin: 0 0;}


/* custom -vue-boostrap  */
table.b-table > tbody > .table-active, .table.b-table > tbody > .table-active > th, .table.b-table > tbody > .table-active > td {background-color: rgba(0, 0, 0, 0.03);}
table.b-table tr:focus { outline: none; }
table.b-table.table-sm {margin: 0;}
table.b-table.table-sm tbody > tr {line-height: 1rem; margin-bottom: 0;}
