text {dominant-baseline: hanging;}
#ac_ic_arrowhead, #ac_ic_arrowhead_r, #ac_ic_arrowhead_idle, #ac_ic_arrowhead_idle_r {fill:#999}
#ac_ic_arrowhead_warn, #ac_ic_arrowhead_warn_r {fill:#ffc107}
#ac_ic_arrowhead_error, #ac_ic_arrowhead_error_r {fill:#FF0000}
#ac_ic_arrowhead_success, #ac_ic_arrowhead_success_r {fill:#0B6121}
#ac_ic_node_service {fill:inherit}
#ac_ic_node_app {fill:inherit}
#ac_ic_node_ns_restrict {fill:inherit}
#ac_ic_node_app_external {fill:inherit}
#ac_ic_node_service_external {fill:inherit}
#ac_ic_node_mesh_external {fill:inherit}
#ac_ic_misssidecar {fill:#8944f7}
#ac_ic_virtualservice {fill:#8944f7}
#ac_ic_circuitbreaker {fill:#8944f7}
#ac_ic_mtls {fill:#666}

g.nodes, g.node, g.edge {cursor:pointer;}
g.node > g.label text {fill:#666; stroke-width: 0;font-weight: 400;}
g.nodes > text.caption {fill:#666; stroke-width: 0;font-weight: 500;} 

/* nodes BOX */
g.nodes > rect {stroke-width: 1px; fill-opacity:0.1; stroke:#aaa; fill:#ccc}

/* node - service */
g.node.service > .ico {fill:#ddd; stroke: #666666; stroke-width:1px}
#ac_ic_node_ns_restrict polygon {stroke:#aaa; }

/* node - app  */
g.node.app > .ico {fill:#ddd; stroke: #666; stroke-width:1px}
g.node.workload > .ico {fill:#ddd; stroke: #666; stroke-width:1px}얖
#ac_ic_node_ns_external circle {stroke:#aaa; }


/* edge-line (순서 수정하면 X)*/
g.edge line {stroke:#ccc; stroke-width:1px;}
g.edge.success line {stroke:#0B6121;}						/* 트래픽 있는 edge */
g.edge.focus line {stroke:#007bff;}
g.edge.selected line {stroke:#007bff; stroke-width:2px;}

/* edge-label */
g.edge  .label {font-size:0.8rem; fill:#666; }

/* WARN - node  (node BOX, service, app)  */
g.nodes.warn > rect { fill:#ccc; stroke:#ffcc00; fill-opacity:0.1;}
g.node.warn > .ico {fill:#ffc107; stroke: #FFA500; fill-opacity:0.1;}

/* WARN - edge  */
g.edge.warn > line {fill:#ffc107;stroke:#FFA500;}
g.edge.warn .label {fill:#FFA500;}


/* ERROR - node  (node BOX, service, app)  */
g.nodes.error > rect { fill:#ccc; stroke:#FF0000; fill-opacity:0.1;}
g.node.error > .ico {fill: #f8d7da;stroke:#FF0000;}

/* ERROR - edge  */
g.edge.error > line {fill: #FF0000;stroke:#FF0000;}
g.edge.error .label {fill:#FF0000;}

/* focus & selected - override 되므로 가장 마지막에 정의 */
g.nodes.focus > rect {stroke:#007bff; fill:yellow}
g.nodes.selected > rect {stroke-width: 2px; stroke:#007bff; fill:yellow}
g.nodes.focus > g.node.app > .ico, g.node.app.focus > .ico  {fill:yellow; fill-opacity: 0.5; stroke: #007bff;}
g.nodes.focus > g.node.service > .ico, g.node.service.focus > .ico {fill:lime; stroke: #007bff; }
g.nodes.selected > g.node.service > .ico, g.node.service.selected > .ico {fill:lime; stroke: #007bff;stroke-width:2px; }
g.nodes.selected > g.node.app > .ico, g.node.app.selected > .ico {fill:yellow; fill-opacity: 0.5; stroke: #007bff;stroke-width:2px;}

/* 트래픽 애니메이션 포인트  */
g.edge.success circle.anmi {fill:#04B404;stroke:#173B0B;}
g.edge.warn circle.anmi {fill:#ffc107;stroke:#FFA500;}
g.edge.error circle.anmi {fill:#f8d7da;stroke:#FF0000;}
