node_modules/
.DS_Store
.nuxt/
.tmp/
dist/
*.log
*.js.map
*.db
yarn.lock

# IDE specific files:
.idea/
*.iml
*.swp
.vscode
.history

# npm debug log:
npm-debug.log

# jmeter & kcl
__pycache__
*.jtl
Pipfile
Thread Group.jmx

build-dev-frontend.sh
k3lab-config
Dockerfile.frontend

#token
src/app/backend/token