# This file defines default variables values used by npm scripts.
# Read more at at:  https://docs.npmjs.com/files/npmrc
# Config variables can be overridden by running:
# npm run <script-name> --acornsoft-dashboard:<variable-name>=<value>
# npm run docker:build:backend --acornsoft-dashboard:docker_image_tag=v0.2.0
acornsoft-dashboard:docker_image_tag = latest
acornsoft-dashboard:docker_image_registry = ghcr.io/acornsoftlab