# This file defines default variables values used by npm scripts.
# Read more at at:  https://docs.npmjs.com/files/npmrc
# Config variables can be overridden by running:
# npm run <script-name> --acornsoft-dashboard:<variable-name>=<value>
acornsoft-dashboard:docker_frontend_tag = v0.1.1
acornsoft-dashboard:docker_backend_tag = v0.1.1
acornsoft-dashboard:docker_dashboard_tag = v0.1.0