text {dominant-baseline: hanging;}
line.link {stroke:gray;stroke-width:1;stroke-dasharray: 3,3}
line.node {stroke:darkcyan;stroke-width:1.5}
line.pod {stroke:darkseagreen;}
line.container {stroke:darkkhaki;}
g.node text {fill: dimgray}

#ac_ic_node_cluster {fill:blue}
#ac_ic_node_container rect{fill:white}  #ac_ic_node_container path{fill:burlywood} 
#ac_ic_node_node rect {fill:white} #ac_ic_node_node path {fill:blueviolet}
#ac_ic_node_pod rect {fill:white} #ac_ic_node_pod path {fill:green}
#ac_ic_node_service {fill:grey}
#ac_ic_node_user {fill:grey}
#ac_ic_node_group {fill:grey}
#ac_ic_node_role {fill:grey}
#ac_ic_node_clusterrole {fill:grey}
#ac_ic_node_rolebinding {fill: blue }
#ac_ic_node_clusterrolebinding {fill:green}
#ac_ic_node_secret {fill:grey}
#ac_ic_node_serviceaccount {fill:grey}
#ac_ic_node_namespace {fill:grey}
